
* {
    box-sizing: border-box;
    
}

body {
    background-color: hsl(0, 100%, 74%);
    background-image: url(./images/bg-intro-desktop.png);
    font-family: 'Poppins', sans-serif;
    color: #fff;
    overflow: hidden;
}
.container{
    margin:0 auto;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    padding: 20px;
    min-height: 100vh;

}
.container > div {
    flex:1;
    padding: 0 20px;
}

h1 {
    font-size: 40px;
    line-height: 50px;
}
p {
    font-size: 15px;
    opacity: 0.8;
}
.box {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    text-align: center;
}
.box-blue {
    background-color:hsl(248, 32%, 49%) ;
    padding: 20px;
}

.box p {
    margin:0;
    text-align: center;
}
input { 
    display: block;
    border-radius: 5px;
    font-family:'poppins','sans-serif';
    border: 1.3px solid hsl(246, 25%, 77%);
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    padding: 15px 25px;
}

input:active {
    border: 1px solid hsl(248, 32%, 49%) ;
}

input:focus {
    border: 2px solid hsl(248, 32%, 49%);
    outline:none;
}
button {
    background-color: hsl(154, 59%, 51%);
    display: block;
    border-radius: 5px;
    border: 1px solid hsl(154, 25%, 45%);
    border-bottom-width: 3px;
    color: #fff;
    font-family:'poppins','sans-serif';
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    padding: 15px 25px;
    transition: transform 0.4s ease;
    box-shadow: 0 2px hsl(154, 25%, 45%) ;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
}

button:focus {
    outline: none;
}
button:active {
    border-bottom-width: 1px;
    transform: translateY(2px);
    box-shadow: 0 0 hsl(154, 25%, 45%) ;
}
small { 
    color: #aaa;
    display: block;
    font-size: 11px;
    font-weight: 500;
    margin-top: 15px;
}
small a { 
        color: hsl(0, 100%, 74%);
        font-weight: 600;
        text-decoration: none;
}

.form-control {
    margin-bottom: 30px;
    position: relative;
}
.form-control small {
    position: absolute;
    bottom: -24px;
    font-weight: 600;
    right: 0;
    text-align: right;
    opacity: 0;
    color: hsl(0, 100%, 74%) 
}
.form-control.error input {
     border-color: hsl(0, 100%, 74%) ;
     color: hsl(0, 100%, 74%) ;
}
.form-control img {
    position: absolute;
    top: 15px;
    right: 15px;
    opacity: 0;
} 
.form-control.error img {
    opacity: 1;
}

@media screen and (max-width:768px) {
    h1 {
        text-align: center;
    }
    p {
        text-align: center;
    }
    .container {
        flex-direction: column;
    }



}